@import url('https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sans;
  src: url("../src/assets/fonts/IRANSans.ttf");
}
@font-face {
  font-family: sahelBold;
  src: url("../src/assets/fonts/Sans\ Bold.ttf");
}
.content-right{
  margin-right: 235px;
}
@media (max-width: 1024px) {
  .content-right{
    margin-right: 0;
  }
}

.upload-container {
  border: 2px dashed #ccc;
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}

.upload-label {
  display: inline-block;
  color: #4a90e2;
  font-size: 14px;
  cursor: pointer;
}

.upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-name {
  margin-top: 10px;
  font-size: 12px;
  color: #a0a0a0;
}

/* snipper */
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-bottom: 4px solid #FF3D00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.rmdp-container{
  width: 100% !important;

}

/* otp */
.otp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  direction: ltr;
  gap: 25px;
}
.otp-input {
  width: 60px !important;
  height: 55px !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
}
@media screen and (max-width: 990px) {
  .otp-input {
    width: 43px !important;
    height: 43px !important;
  }
}
@media screen and (max-width: 480px) {
  .otp-input {
    width: 56px !important;
    height: 53px !important;
  }
}

/*  */
.css-y6xcp1-MuiModal-root{
  z-index: 1000 !important;
}
/* 
.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  z-index: 5000 !important;
} */
/*  */

/* .css-l51tml-MuiFormControl-root{
  margin-bottom: 16px !important;
} */
/*  */
.css-1sjf4n3{
  z-index: none !important;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 11.5px 30px !important;
  height: 23px !important;
}
.css-4g3e7k-MuiTypography-root {
  margin-top: 0 !important;
}

/* Hover item (highlight for active menu item) */
.hover-item {
  position: absolute;
  right: 0;
  width: 100%; /* Thin vertical bar for active item */
  height: 44px; /* Match menu item height */
  border-radius: 8px; /* Rounded edges on the right */
}
